*.pyc
*~
/.eggs
/.idea
/.project
/.pydevproject
/.vscode
/bin/
/build/
/dist/
/python_dali.egg-info/
/include/
/lib/
/local/
/release-tmp/
/MANIFEST
/pip-selfcheck.json
/.pybuild
/debian/debhelper-build-stamp
/debian/files
/debian/python3-dali*
/debian/.debhelper