Source: python-dali
Section: python
X-Python3-Version: >= 3.6
Priority: optional
Maintainer: Stephen Early <steve@assorted.org.uk>
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools
Standards-Version: 3.7.2

Package: python3-dali
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: IEC 62386 (DALI) lighting control library
 A python interface to DALI lighting systems.
